* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --accent: #F24C4F;
    --gray-1: #2C2E2E;
    --gray-2: #818181;
    --gray-3: #202121;
    --white: #FFFFFF;
    --background: #171818;
}

@font-face {
    font-family: "Onest Bold";
    src: url("/fonts/Onest-Bold.ttf");
}

@font-face {
    font-family: "Urbanist SemiBold";
    src: url("/fonts/Urbanist-SemiBold.ttf");
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--background);
}